<%- include("partials/header") %>



<div class="row ms-auto mt-2">
  <% allProducts.forEach((product)=>{ %>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <img src="<%= product.Images[0] %>" class="img-responsive" width="100%" height="50%"  >
      <div class="caption">
        <h4 class="mb-0"><%=  product.ProductName %></h4>
        <p class="mb-2" style="font-size: small; color:gray;">Category: <%= product.Category %></p>
        <p class="mb-3">Price: <span style="color: lightgreen;">NGN </span><%= product.Price %></p>
      </div>
      <p><a href="/product/<%= product.id %>" style="width: 100%;" class="btn btn-dark btn-block ms-auto">View this product</a></p>
    </div>
  <% }) %>
</div> 
 




<%- include("partials/footer") %>