<%- include("partials/header") %>
      <!-- Masthead-->
      <header class="masthead">
          <div class="container pt-3">
              <div class="masthead-subheading">Welcome To TradeCon!</div>
              <!-- <div class="masthead-subheading">Establishing connections between buyers and sellers</div> -->
              <a class="btn btn-primary btn-lg text-uppercase mb-2" href="/merchant/signup">Merchant Sign Up</a>
              <a class="btn btn-primary btn-lg text-uppercase mb-2" href="/customer/signup">Customer Sign Up</a>
          </div>
      </header>
      <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
          <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <% allProducts.forEach((product)=>{ %>
              <div class="col mb-5" >
                <div class="card h-100" >
                    <!-- Product image-->
                    <img class="card-img-top" src="<%= product.Images[0] %>" width="100%" height="50%" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-1">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder mb-1"><%= product.ProductName %></h5>
                            <p class="mb-1" style="font-size: small;">Category: <%= product.Category %></p>
                            <% if(product.Availability){ %>
                              <p class="mb-2" style="font-size: small;">Status: Available</p>
                            <% }else{ %>
                              <p class="mb-2" style="font-size: small;">Status: Not Available</p>
                            <% } %>
                            <!-- Product price-->
                            NGN <%= product.Price %>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent mt-0">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/product/<%= product.id %>">View product</a></div>
                    </div>
                </div>
              </div>
            <% }) %>
          </div>
        </div>
      </section>
      <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; TradeCon 2022</p></div>
    </footer>
      <!-- <div class="container">
        <% if(error && error.length > 0){ %>
          <div class="alert alert-danger mt-2" role="alert">
            <%= error %>
          </div>
        <% } %>
        <% if(success && success.length > 0){ %>
          <div class="alert alert-success mt-2" role="alert">
            <%= success %>
          </div>
        <% } %>
      </div>   -->

<%- include("partials/footer") %>





