<%- include("partials/header") %>

<!-- <div class="container">
  <div class="row">
    <% allProducts.forEach((product)=>{ %>
      <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
        <div class="card mt-3" style="width: 18rem;">
          <img src="<%= product.Images[0] %>" class="card-img-top img-thumbnail img-responsive" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= product.ProductName %></h5>
            <p style="font-size:small;">Category: <%= product.Category %></p>
            <p class="card-text pt-0"><%= product.Description %></p>
            <p>Price: <%= product.Price %></p>
            <a href="/product/<%= product.id %>" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div> -->

<div class="row text-center">
  <% allProducts.forEach((product)=>{ %>
      <div class="col-lg-4 col-md-4 col-sm-6 mb-3">
          <div class="img-thumbnail">
              <img src="<%= product.Images[0] %>" class="img-responsive" width="100%" height="100%" >
              <div class="caption">
                  <h4 class="mb-0"><%=  product.ProductName %></h4>
                  <p class="mb-0" style="font-size: small; color:gray;">Category: <%= product.Category %></p>
                  <p><%= product.Description %></p>
              </div>
              <p><a href="/product/<%= product.id %>" class="btn btn-dark">View this product</a></p>
          </div>
      </div>
  <% }) %>
</div>



<%- include("partials/footer") %>