<%- include("partials/merchantheader") %>

<% if(ownedProducts.length === 0){ %>
  <div class="container">
    <p>You haven't added any products yet. If you would like to add a product, <a href="/addProduct">Click Here</a></p>
  </div>
<% }else{ %>
  <div class="row ms-auto mt-2" style="height: 100%;">
    <% ownedProducts.forEach((product)=>{ %>
      <div class="col-lg-3 col-md-3 col-sm-6">
        <img src="<%= product.Images[0] %>" class="img-responsive" width="100%" height="50%"  >
        <div class="caption">
          <h4 class="mb-0"><%=  product.ProductName %></h4>
          <p class="mb-0" style="font-size: small; color:gray;">Category: <%= product.Category %></p>
          <p class="mb-1">Price: <span style="color: lightgreen;">NGN </span><%= product.Price %></p>
          <p class="mb-1">Views: <%= product.Views %></p>
        </div>
        <!-- <p><a href="/product/<%= product.id %>" style="width: 100%;" class="btn btn-dark btn-block ms-auto">View this product</a></p> -->
        <a href="/product/<%= product.id %>/edit" style="width: 100%;" class="btn btn-dark btn-block ms-auto">Edit this product</a>
        <form action="/product/<%= product.id %>?_method=delete" method="post">
            <button style="width: 100%;" class="btn btn-dark btn-block ms-auto mt-2">Delete Product</button>
        </form>
      </div>
    <% }) %>
  </div> 
<% } %>







<%- include("partials/merchantfooter") %>