<%- include("partials/pagesheader") %>
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="<%= product.Images[0] %>" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder"><%= product.ProductName %></h1>
                        <div class="fs-5 mb-5">
                            <!-- <span class="text-decoration-line-through">$45.00</span> -->
                            <span>NGN <%= product.Price %></span>
                        </div>
                        <div class="lead mb-2"><%= product.Description %></div>
                        <p>Seller: <%= ProductOwner.FirstName %> <%= ProductOwner.LastName %></p>
                        <p>Contact Seller: <%= ProductOwner.PhoneNumber %></p>
                        <div class="d-flex">
                            <form method="post" action="/product/<%= product.id %>/order">
                                <button style="width: 100%;" class="btn btn-dark btn-block ms-auto">Place Order</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <% product.Images.forEach((productImg)=>{ %>
                        <div class="col-md-4 mb-3">
                            <img src="<%= productImg %>" width="100%" >
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
        <section class="py-5 bg-light">
            <div class="container px-4 px-lg-5 mt-5">
                <h2 class="fw-bolder mb-4" style="text-align: center;">MORE FROM THIS SELLER</h2>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% merchProducts.forEach((product)=>{ %>
                        <div class="col mb-5">
                            <div class="card h-100">
                                <img class="card-img-top" src="<%= product.Images[0] %>" width="100%" height="50%" alt="..." />
                                 <!-- Product details-->
                                <div class="card-body p-1">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder"><%= product.ProductName %></h5>
                                        <p style="font-size: small;">Category: <%= product.Category %></p>
                                        <!-- Product price-->
                                        NGN <%= product.Price %>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/product/<%= product.id %>">View product</a></div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </section>
<%- include("partials/pagesfooter") %>

















